/* BASE.CSS       Valid CSS3  */
body{
	width:80%;
	margin:auto;
	color:#333333;
	font-size:15px;
}

hr{
	width:100%;
	border:dashed #333333 1px;
}

h1{
	font-size:1.2em;
}

h2{
	font-size: 1.1em;
	margin: 1em 0 0.5em 0.5em;
	padding: 0.25em 0.25em 0.25em 0.5em;
	border: dashed 1px #333333; 
	border-radius: 5px;	
}

p{
	text-indent: 0em;
	padding: 0 1em;
	margin-bottom: 0.5em;
}

ul{
	margin: 0 0 0.5em -1em;
	list-style-type: none;
}

li{
	margin-bottom: 0.25em;
}

.align-right{
	text-align: right;
	margin-top:-2.45em;
}